@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html        { box-sizing: border-box; }
body        { margin: 0; padding: 0; font-family: 'Josefin Sans', sans-serif; font-size: 16px; overflow-x: hidden; }
.container  { display: flex; min-height: 100vh; }
small       { color: var(--soft_red); left: 30px; top: 60px; position: absolute; display: none; }

:root {
    --desaturated_red: hsl(0, 36%, 70%);
    --soft_red: hsl(0, 93%, 68%);
    --dark_grayish_red: hsl(0, 6%, 24%);
    --white_pink: hsl(0, 0%, 100%);
    --white_grayish_pink: hsl(0, 100%, 98%);
    --white_red: hsl(0, 80%, 86%);
    --white_grayish_red: hsl(0, 74%, 74%);
}


/* ---- LEFT SIDE INFO ---- */
.left{
    flex: 0.6;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px;
}
.left-info {
    width: 450px;
    margin: auto;
}

.logo {
    transform: translateY(-100%);
    animation: comeInTop 0.5s linear forwards;
    margin: 50px 0;
}

h1 {
    transform: translateX(-100%);
    animation: comeIn 0.5s linear forwards;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: var(--desaturated_red);
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

span {
    color: var(--dark_grayish_red);
    font-weight: 600;
}

p {
    transform: translateX(100%);
    animation: comeIn 0.5s linear forwards;
    color: var(--desaturated_red);
    line-height: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
}


/* ---- FORM ---- */
form {
    display: flex;
    position: relative;
    transform: translateY(100%);
    animation: comeInBot 0.5s linear forwards;
    width: 100%;
}

input[type=email] {
    flex: 1;
    background:rgba(0,0,0,0);
    border: 1px solid var(--desaturated_red);
    padding: 15px 30px;
    border-radius: 50px;
    color: var(--desaturated_red);
    outline: none;
}
input[type=email]:focus {
    box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
    border-width: 1px;
}

.icon-error {
    position: absolute;
    right: 170px;
    top: 10.5px;
    display: none;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg,var(--white_red), var(--white_grayish_red) 70.71%);
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    width: 150px;
}
button:hover {
    background: var(--white_red);
}


/* ---- FORM ERROR ---- */
form.error input {
    border : 1px solid var(--soft_red);
}
form.error small {
    display: block;
}
form.error .icon-error {
    display: block;
}


/* ---- RIGHT SIDE ---- */
.right {
    flex: 0.4;
    background-image: url("./images/hero-desktop.jpg");
    background-size: cover;
    background-position: center center;
}

.woman-mobile {
    display: none;
}


/* ---- KEYFRAMES ---- */
@keyframes comeInTop {
    to { transform: translateY(0); }
}
@keyframes comeIn {
    to { transform: translateX(0); }
}
@keyframes comeInBot {
    to { transform: translateY(0); }
}


/* ---- RESPONSIVE ---- */
@media screen and (max-width: 770px) {
    .container      { flex-direction: column-reverse; }
    .left           { padding: 0 30px 60px; }
    .left-info      { width: 100%; }
    .woman          { display:  none; }
    .woman-mobile   { display: block; width: 100%; }
}
